body { 
  background-color: lightsteelblue;
}
#me_teamworks{
  float: right;
}
#volleyball{
  float:left;
}
#soccerball{
  float:center;
}
#abme_background{
  background-image: url('skybluebackground.jpg');
}
